@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-gradient-to-tr from-slate-950 from-20% via-blue-950 via-50% to-slate-950;
  }

  p {
    @apply text-[14px];
    @apply font-light;
    @apply subpixel-antialiased;
  }

  h1,
  h2 {
    @apply text-3xl;
    @apply font-light;
    @apply subpixel-antialiased;
  }

  h4 {
    @apply font-medium;
    @apply text-lg;
    @apply subpixel-antialiased;
  }

  .flexCenter {
    @apply flex justify-center items-center;
  }

  .flexBetween {
    @apply flex justify-between items-center;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  li {
    @apply font-light;
    @apply text-[14px];
  }
}

@layer components {

  .projectButton {
    @apply absolute flex items-center left-5 p-2 rounded space-x-2 opacity-60 hover:opacity-100 bg-slate-950/40 hover:bg-slate-950/80 transition duration-300 ease-in-out
  }

    mux-player {
      /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
      --center-controls: none;
      --bottom-play-button: none;
    }
}